.header {
    margin-bottom: var(--a-spacing-10);
}

.container {
    margin: var(--a-spacing-05) auto var(--a-spacing-20) auto;
    max-width: 640px;
}

.modal-text {
    margin-bottom: var(--a-spacing-10);
}

.frida-button {
    border: none;
    background-color: transparent;
}

.frida-button:hover {
    text-decoration: none;
}

.frida-button:active {
    background-color: #014486;
}

.frida-button:active,
.frida-button:hover {
    outline: none;
}

@media only screen and (max-width: 576px) {
    .container {
        margin-left: var(--a-spacing-4);
        margin-right: var(--a-spacing-4);
    }
}
